@model IEnumerable<prjMvcCoreDemo.Models.TProduct>

@{
    ViewData["Title"] = "List";
}

<h1>產品列表</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtkeyword", "", new { @class = "form-control" })
    <input type="submit" value="查詢" />
}
<p>
    <a asp-action="Create">新增產品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FImagepath)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FActived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPrice)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.FImage)
                    </td>
                <td>
                    <div>
                        <img src="~/images/@item.FImagepath" width="150" height="100" />
                    </div>
                    @*@Html.DisplayFor(modelItem => item.FImagepath)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FActived)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.FId })
                    @Html.ActionLink("刪除", "Delete", new { id = item.FId })
                </td>
            </tr>
        }
    </tbody>
</table>
